extends layout

block content
  .container-fluid
    h1 NuCoin Transactions
    - var peers = {1: 'A', 2: 'B', 3: 'C'}
    - each peer, chain in peers
      h3 Peer #{peer}
      .row.row-horizon
        - var blocks = []
        - blocks.push({block: 1, chain: chain, nonce: 193247, coinbasevalue: '100.00', coinbaseto: 'Subir', txs: [], previous: '0000000000000000000000000000000000000000000000000000000000000000'})
        - blocks.push({block: 2, chain: chain, nonce: 1114, coinbasevalue: '100.00', coinbaseto: 'Subir', txs: [{value: '10.00', from: 'Subir', to: 'Sophia'},{value: '20.00', from: 'Subir', to: 'Lucas'},{value: '15.00', from: 'Subir', to: 'Emily'},{value: '15.00', from: 'Subir', to: 'Madison'}], previous: '0000c39089aec339985dcb7750bb00af83de00782f1220afd1104091cb1cd399'})
        - blocks.push({block: 3, chain: chain, nonce: 63037, coinbasevalue: '100.00', coinbaseto: 'Subir', txs: [{value: '10.00', from: 'Emily', to: 'Jackson'},{value: '5.00', from: 'Madison', to: 'Jackson'},{value: '20.00', from: 'Lucas', to: 'Grace'}], previous: '000086832a803f1e049991efbbf6913d9aa0613c50a8948d2668e2e54aac7a09'})
        - blocks.push({block: 4, chain: chain, nonce: 18812, coinbasevalue: '100.00', coinbaseto: 'Subir', txs: [{value: '15.00', from: 'Jackson', to: 'Ryan'},{value: '5.00', from: 'Emily', to: 'Madison'},{value: '8.00', from: 'Sophia', to: 'Jackson'}], previous: '0000410244679fd729a45da3f6d7699786e75110e6912eefe066a128b4eaf7c0'})
        - blocks.push({block: 5, chain: chain, nonce: 53367, coinbasevalue: '100.00', coinbaseto: 'Sophia', txs: [{value: '2.00', from: 'Jackson', to: 'Alexander'},{value: '6.00', from: 'Ryan', to: 'Carter'},{value: '4.00', from: 'Ryan', to: 'Riley'},{value: '9.95', from: 'Grace', to: 'Katherine'}], previous: '0000c9c579a85ac122a41febf4f05849a0acf2ac3bc51965aff96c1638127756'})
        each block in blocks
          .col-xs-7
            include includes/coinbaseblock.jade

  script.
    $(function() {
      setup(1, 1);
      setup(2, 1);
      setup(3, 1);
      setup(4, 1);
      setup(5, 1);

      setup(1, 2);
      setup(2, 2);
      setup(3, 2);
      setup(4, 2);
      setup(5, 2);

      setup(1, 3);
      setup(2, 3);
      setup(3, 3);
      setup(4, 3);
      setup(5, 3);
    });

    function getText(block, chain) {
      var s = $('#block'+block+'chain'+chain+'number').val() +
              $('#block'+block+'chain'+chain+'nonce').val() +
              $('#block'+block+'chain'+chain+'coinbasevalue').val() +
              $('#block'+block+'chain'+chain+'coinbaseto').val();

      for (var x=0; $('#block'+block+'chain'+chain+'tx'+x+'value').length > 0; x++) {
        s = s + $('#block'+block+'chain'+chain+'tx'+x+'value').val() +
                $('#block'+block+'chain'+chain+'tx'+x+'from').val() +
                $('#block'+block+'chain'+chain+'tx'+x+'to').val();
      }
      s = s + $('#block'+block+'chain'+chain+'previous').val();
      return s;
    }

    function setup(block, chain) {
      updateHash(block, chain);
      $('#block'+block+'chain'+chain+'mineButton').click(function(e) {
          e.preventDefault();
          var l = Ladda.create(this);
          l.start();
          setTimeout(function() {
              mine(block, chain, true);
              l.stop();
            }, 250); // give UI time to update
        });
    }
