doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='A visual blockchain demo in a browser.')
    link(rel="icon", type="image/png", href="/static/images/favicon.png")

    title Blockchain Visualized

    link(rel='stylesheet', href='/blockchain-demo/stylesheets/lib/bootstrap.min.css')
    link(rel='stylesheet', href='/blockchain-demo/stylesheets/lib/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/blockchain-demo/stylesheets/lib/bootstrap-horizon.css')
    link(rel='stylesheet', href='/blockchain-demo/stylesheets/lib/ladda-themeless.min.css')
    link(rel='stylesheet', href='/blockchain-demo/stylesheets/lib/ie10-viewport-bug-workaround.css')
    link(rel='stylesheet', href='/blockchain-demo/stylesheets/blockchain.css')

    script(src='/blockchain-demo/javascripts/lib/jquery.min.js')
    script(src='/blockchain-demo/javascripts/lib/bootstrap.min.js')
    script(src='/blockchain-demo/javascripts/lib/spin.min.js')
    script(src='/blockchain-demo/javascripts/lib/ladda.min.js')
    script(src='/blockchain-demo/javascripts/lib/ie10-viewport-bug-workaround.js')
    script(src='/blockchain-demo/javascripts/lib/sha256.js')
    script(src='/blockchain-demo/javascripts/blockchain.js')

  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="/blockchain-demo/") Blockchain Visualized
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li(class={active: !page})
              a(href='/blockchain-demo/') Hash
            li(class={active: page === 'block'})
              a(href='/blockchain-demo/block') Block
            li(class={active: page === 'blockchain'})
              a(href='/blockchain-demo/blockchain') Blockchain
            li(class={active: page === 'distributed'})
              a(href='/blockchain-demo/distributed') Distributed
            li(class={active: page === 'coinbase'})
              a(href='/blockchain-demo/coinbase') NuCoin

    block content
